<div class="background-image-container mt-ncs">
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="d-flex flex-wrap">
        <div>
          <h1 class="display-3">Repositori Universitas Murni Teguh</h1>
          <p class="lead">Repositori Universitas Murni Teguh adalah platform digital yang menyimpan dan mengorganisir berbagai jenis informasi dan dokumentasi terkait dengan kegiatan dan karya ilmiah yang dihasilkan oleh civitas akademika Universitas Murni Teguh.</p>
          <p class="lead">Repositori ini bertujuan untuk memfasilitasi akses terhadap hasil-hasil penelitian, tesis, disertasi, publikasi ilmiah, dan materi akademis lainnya yang dihasilkan oleh dosen, mahasiswa, dan staf administratif universitas tersebut.</p>
          <p class="lead">Dengan menyediakan akses terbuka terhadap sumber daya ini, Repositori Universitas Murni Teguh berperan dalam mendukung kolaborasi ilmiah, meningkatkan visibilitas karya akademik, serta mempromosikan pertukaran pengetahuan di kalangan masyarakat luas.</p>
        </div>
      </div>
      
    </div>
  </div>
  <picture class="background-image">
    <source type="image/webp" srcset="assets/murniteguh/images/banner.webp 2000w, assets/murniteguh/images/banner-half.webp 1200w, assets/murniteguh/images/banner-tall.webp 768w">
    <source type="image/jpg" srcset="assets/murniteguh/images/banner.jpg 2000w, assets/murniteguh/images/banner-half.jpg 1200w, assets/murniteguh/images/banner-tall.jpg 768w">
    <img alt="" [src]="'assets/murniteguh/images/banner.jpg'"/><!-- without the []="''" Firefox downloads both the fallback and the resolved image -->
  </picture>
  <small class="credits">Photo by <a href="https://www.pexels.com/@inspiredimages">Universitas Murni Teguh</a></small>
</div>
