// DSpace works with CSS variables for its own components, and has a mapping of all bootstrap Sass
// variables to CSS equivalents (see src/styles/_bootstrap_variables_mapping.scss). However Bootstrap
// still uses Sass variables internally. So if you want to override bootstrap (or other sass
// variables) you can do so here. Their CSS counterparts will include the changes you make here

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,200;1,300;1,400;1,600;1,700;1,800&display=swap');

$font-family-sans-serif: 'Nunito', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$navbar-dark-color: #FFFFFF;

/* Reassign color vars to semantic color scheme */
$blue: #2c638b !default;
$green: #006a62!default;
$cyan: #1fc4b0 !default;
$yellow: #D5AD17 !default;
$red: #C42329 !default;
$dark: #2d3135 !default;

$gray-800: #42474e !default;
$gray-700: #8c9198 !default;
$gray-400: #c2c7ce !default;
$gray-100: #e0e2e8 !default;

$body-color: $gray-800 !default;                    // Bootstrap $gray-800

$table-accent-bg: $gray-100 !default;   // Bootstrap $gray-100
$table-hover-bg: $gray-400 !default;   // Bootstrap $gray-400

$yiq-contrasted-threshold:  170 !default;

$theme-colors: (
        primary: $blue,
        secondary: $cyan,
        success: $green,
        info: $blue,
        warning: $yellow,
        danger: $red,
        light: $gray-100,
        dark: $dark
) !default;
